<header class="base-right-left-padding">
    <a href="/" class="header-logo">
        Decode Blog
    </a>
    <div class="haeder-search">
        <form action="">
            <input type="text" placeholder="Blog search">
            <%- include('./button', {icon: '/image/icons/haeder-saerch-icon.png', title: 'Search', likn: ''}) %>
        </form>
    </div>
    <div class="header-user-actions">
        <%- include('./button', {icon: '', title: 'Sign up', link: '/signUp'}) %>
        <%- include('./button', {icon: '', title: 'Sign in', link: '/signIn'}) %>
    </div>
</header>