@import url('./vendor/reset.css');
@import url('./vendor/base.css');

/* Components */
@import url('./components/header.css');
@import url('./components/postItem.css');

@import url('./pages/siginIn.css');
@import url('./pages/profile.css');
@import url('./pages/newPost.css');