<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', {title: 'New Post'}) %>
<body>
    <div class="base-width profile-page">
        <header class="base-right-left-padding">
            <a href="/" class="header-logo">
                Decode Blog
            </a>
            <div class="haeder-search">
                <form action="">
                    <input type="text" placeholder="Blog search">
                    <%- include('./partials/button', {icon: '/image/icons/haeder-saerch-icon.png', title: 'Search', link: ''}) %>
                </form>
            </div>
            <div class="header-user-profile-photo">
                <%- include('./partials/userLogo.ejs', {image: '/image/user-photo/user-logo.png'}) %>
            </div>
        </header>
        <div class="new-post-page base-right-left-padding">
            <div class="new-post-container  main-container">
                <h1 class="sections-header">
                    Новый блог
                </h1>
                <form class="new-post-form" action="">
                    <input type="text" placeholder="Введите заголовок блога">
                    <input list="options" id="choices" name="choices" placeholder="Выберите категорию">
                    <datalist id="options">
                      <option value="Опция 1">
                      <option value="Опция 2">
                      <option value="Опция 3">
                    </datalist>
                </form>
                <button class="add-images-btn">
                    Выберите картинку
                </button>
                <div class="">
                    <textarea class="custom-input" placeholder="Введите описание блога"></textarea>
                </div>
                <button class="create-new-post">
                    Создать пост
                </button>
            </div>
        </div>
    </div>
</body>
</html>