<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs', {title: 'Home'}) %>
<body>
    <main class="base-width">
        <%- include('./partials/header.ejs', {link: ''}) %>
        <div class="main-container">
            <div class="content">
                <div class="post-container">
                    <h1>NOT FOUND</h1>
                </div>
            </div>
        </div>
    </main>
</body>
</html>