<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs', {title: 'Post page'}) %>
<body>
        <main class="base-width ">
        <%- include('./partials/header.ejs', {link: ''}) %>
        <div class="main-container">
            <div class="content">
                <div class="post-container">
                    <div class="posts-list">
                        <%- include('./partials/postItem.ejs', {image: '/image/posts/post001.png'}) %>
                    </div>
                </div>
                <div class="side-bar">
                    <%- include('./partials/sectionsHeader.ejs', {title: 'Категории', description: ''}) %>
                    <ul class="link-list">
                        <li><a href="">Прогнозы в IT</a></li>
                        <li><a href="">Веб-разработка</a></li>
                        <li><a href="">Мобильная разработка</a></li>
                        <li><a href="">Фриланс</a></li>
                        <li><a href="">Алгоритмы</a></li>
                        <li><a href="">Тестирование IT систем</a></li>
                        <li><a href="">Разработка игр</a></li>
                        <li><a href="">Дизайн и юзабилити</a></li>
                        <li><a href="">Искуственный интелект</a></li>
                        <li><a href="">Машинное обучение</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
</body>
</html>