<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', {title: 'Sign in'}) %>
<body>
    <div class="base-width sign-in-page">
        <%- include('./partials/header.ejs', {link: ''}) %>
        <div class="sign-in-container">
            <form action="/api/signin" method="POST" class="sign-in-form">
                <h2 class="form-header">Вход</h2>
                <input type="email" placeholder="Введите e-mail" name="email">
                <input type="password" placeholder="Введите пароль" name="password">
                <button type="submit">Войти</button>
            </form>
        </div>
    </div>

</body>
</html>